.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 95%;
  height: fit-content;
  border-bottom: 1px solid lightgray;
}
.checkoutProduct_image {
  max-width: 11.25rem;
  padding-left: 2.5rem;
  padding-top: 5px;
}

.checkoutProduct_info {
  padding-left: 10px;
  display: flex;
}
.checkoutProduct_title {
  font-size: 17px;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 12px;
}
.checkoutProduct_price{
    margin: 20px 5px 0px 5px;
}
.checkoutProduct_info > button {
  margin: 20px 14px 5px 10px;
  cursor: pointer;
  padding: 5px;
  height:fit-content;
  width: fit-content;
}
