@media only screen and (max-width: 600px) {

  .header {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {

  .header{
    width: 100%;
  }
}

@media only screen and (min-width: 264px) {

  .header{
    width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  /* Style rules for small screens go here */
  .header{
    width: 100%;
  }
}

@media only screen and (min-width: 361px) and (max-width: 480px) {
  /* Style rules for medium screens go here */
  .app{
    width: 100%;
  }
}


.header {
  height: 20%;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-right: 3.1rem;
  
}


.header_logo {
  width: 6.25rem;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
  background-color: #131921;
  fill: black;
  background: #131921;
  min-height: 50px;
}

.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid white !important;
}

.header__location {
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 22px;
  fill: #f1f1f1;
  
}
.header_address {
  display: flex;
  flex-direction: column;
  color: white;
  width: fit-content;
}
#dropdown {
  position: relative;
  height: 2rem;
  width: 2.62rem;
  border-right-color: white !important;
  cursor: pointer;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__search-input {
  height: 0.7rem;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__search-lens {
  padding: 5px;
  height: 1.3rem !important;
  background-color: white;
  cursor: pointer;
  padding-right: 15px;
  color: grey;
  font-size: 19px;
  width: fit-content;
}

.header__search-icon {
  padding: 5px;
  height: 1.3rem !important;
  background-color: #cd9042;
  cursor: pointer;
  font-size: 19px;
  width: fit-content;
}


.header__search-icon:hover {
  border: 1px solid #cd9042;
}

.header__search-icon:active {
  background-color: #cd9042;
}

.header__search-icon:focus {
  outline: none;
}
.header__nav {
  color: white;
}

/* language*/
.language-dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
  background-color: white;
}
.header__language {
  height: 1.3rem;
  align-items: center;
  color: white;
  
}

.dropdown-button {
  background-color: #131921;
  border: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.language-dropdown:hover .dropdown-content {
  display: block;
}

/*ends*/

.header__option-lineOne {
  font-size: 0.62rem;
  margin: 0 20px;
  margin-top: 18px;
  color: white;
 
}
.header__option-lineTwo {
  font-size: 0.81em;
  font-weight: 800;
  width: fit-content;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  align-items: center;
  cursor: pointer;
}

.header__option:active {
  color: #cd9042;
}
.header__optionCart {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 0.62rem;
  cursor: pointer;
  position: relative;
}


.header_cartCount {
  position: absolute;
  top: 1.2px;
  right: -5px;
  color: #cd9042;
  border-radius: 10%;
  padding: 4px 6px;
  font-size: 0.83rem;
  font-weight: bold;
  margin-left: 3px;
  margin-right: 10px; 
}

.header__cart {
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* Sub Header Start Here */

.sub__header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #232F3E;
  padding: 0.62rem;
  height: 20%;
 
  font-size: 0.87rem;
  color: #ffffff;
  font-family: Arial, sans-serif;
  
}
a {
  color: white;
  text-decoration: none;
}
