/* ImgSlider.css */

.image-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

.prev-button,
.next-button {
  position: absolute;
  top: 28%;
  transform: translateY(-50%);
  color: grey;
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  z-index: 2;
  background-color: transparent;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.imgSlider {
  display: flex;
  justify-content: center; /* Center the carousel horizontally */
  align-items: center; /* Center the carousel vertically */
}
