.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 360px;
  height: 100%;
  background-color: white;
  color: black;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 1000;
  margin-top: 0%;
  overflow-y: scroll
}

.sidebar--open {
  transform: translateX(0);
}

.sidebar__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  left: 85%;
  font-size: 40px;
  opacity: 1;
  font-weight: 400;
}
.sidebar_list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: black;
  scrollbar-width: thin;
  scrollbar-color: #ccc #eee;
  text-align: start;
  padding-left: 15px;
}

.sidebar h2 {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  background-color: #232f3e;
  color: #fff;
  height: 50px;
  align-items: center;
  justify-content: center;
  
  overflow: hidden;
}
#user_icon {
  font-size: 30px;
  fill: #fff;
  padding-top: 5px;
}

.sidebar_nav h3 {
  height: 40px;
  font-size: 18px;
  text-align: start;
  padding-left: 8px;
}


.sidebar_item {
  height: 30px;
  font-size: 14px;
  align-items: flex-start;
  
}

.sidebar_nav::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: block;
  overflow-y: auto;
}
.link-button {
  color: black;
  text-decoration: none;
}