.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6.25rem;
  width: 18.75rem;
  padding: 1.25rem;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 12.5rem;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > button {
  margin-top: 10px;
  background: #f0c14b;
  border-radius: 2px;
  width: 18rem;
  height: 1.87rem;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
